edit()

body
	max-width: 1200px
	margin: 11em 2em 0

img 
	max-width: 100%
	
main
	min-height: 300vh
	background-color: red
	@media (max-width: 35em)
		margin-top: 6em


ul 
	padding: 0
	margin: 0
	li 
		list-style: none
	
a 
	text-decoration: none
	color: black
	&:hover
		text-decoration: underline
h1, aside, nav
	cf()
	
