header
	position: fixed
	width: 100%
	z-index: 400
	#head 
		position: relative
		center(1200px)
		z-index: 500
		#logo
			col(4/14, offset: 5/14)
			text-align: center
			padding-top: 1rem
			padding-bottom: 1rem
			@media (max-width: 35em)
				col(5/7)
		#buttCont
			col(1/7, offset: 1/7)
			@media (min-width: 35em)
				display: none
		button
			align(v)
			
	nav 
		center(1200px)
		text-align: center
		position: relative
		padding-bottom: 1rem
		ul
			span(5/7, offset: 1/7)
			@media(max-width: 35em)
				span(7/7)
		ul li 
			transition: all 200ms linear
			padding: 1rem 0
			col(1/5 5/7, cycle:5)
			@media (max-width: 35em)
				margin-top: -20%
				col(1/1, uncycle)
		@media (max-width: 35em)
			&.open
				ul li
					margin-top: 0%
			
// HEADROOM JS

.headroom 
	transition: transform 200ms linear;
.headroom--pinned 
	transform: translateY(0%);
.headroom--unpinned 
	transform: translateY(-100%);


		

	