header
	position: fixed
	background-color: blue
	width: 100%
	#head 
		position: relative
		center(1200px)
		background-color: green
		img#logo
			span(6/7)
		#buttCont
			col(1/7)
			@media (min-width: 35em)
				display: none
		button
			align(v)
			
	nav 
		center(1200px)
		
		ul li 
			transition: all 200ms linear
			col(1/7)
			@media (max-width: 35em)
				margin-top: -10%
				stack()
		@media (max-width: 35em)
			&.open
				ul li
					margin-top: 0%
				
// HEADROOM JS

.headroom 
	transition: transform 200ms linear;
.headroom--pinned 
	transform: translateY(0%);
.headroom--unpinned 
	transform: translateY(-100%);


		

	