section
	cf()
	&#text
		p 
			col(6/7)
	&#picText
		img 
			col(3/7)
		p 
			col(2/7)
	@media (max-width: 35em)
		col(7/7)
		&#text
			p 
				col(7/7)
		&#picText
			img 
				col(7/7)
			p 
				col(7/7)