section
	center(1200px)
	col(7/7)
	@media (min-width: 35em)
		&#picText
			img
				col(1/2 7/7)
			p 
				col(1/2 7/7)	
		&#text
			col(10/14, offset: 2/14)
			text-align: center
		&#picText
			p 
				text-align: center
			